html {
    height: 100%;

    body {
        font-size: 14px;
        background: #d3d3d333;
   		font-family: 'Roboto Mono', monospace;

        #root {
            width: 100%;
            height: 100%;
        }

        .todo-heading {
        	margin-top: 50px;
        	margin-bottom: 50px;
        }

        .todo-container {
        	.todo-input {
        		margin-right: 10px;
        		max-height: 423px;
        		overflow: scroll;
        	}
        }

        .todo-list-group {
			margin-top: 10px;
			padding-bottom: 10px;
			overflow: auto;
    		height: 500px;

        	.todo-list-item-container {
        		background-color: #fff;
        		border: 1px solid rgba(0, 0, 0, 0.125);

        		.todo-list-item {
	        		padding: 0.2rem 12px;
	        		word-break: break-all;
	        		background-color: transparent;
					border: none;
        		}

        		.btn.btn-link {
        			font-size: 12px;
        			padding: 2px 0.75rem;
        		}
        	}
        	
        }
        
        .cursor-pointer {
        	cursor: pointer
		}
		
		.margin-top-02 {
			margin-top: 2px;
		}

		.margin-bottom-02 {
			margin-bottom: 2px;
		}

		.margin-right-02 {
			margin-right: 2px;
		}
    }
}